<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlz.blog.server.category.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.zlz.blog.common.entity.category.Category">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="is_publish" jdbcType="BOOLEAN" property="isPublish" />
    <result column="parent_id" property="parentId"/>
    <result column="level" property="level"/>
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_modifier" jdbcType="BIGINT" property="lastModifier" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title, introduction, image_url, is_publish, creator, created_time, last_modifier, parent_id, `level`,
    last_modified_time
  </sql>

  <select id="selectPage" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List"></include>, (SELECT count(1) FROM category c WHERE c.parent_id= cate.id) AS isLastLevel
    FROM category cate
    <where>
      cate.level = #{category.level}
      AND cate.parent_id = #{category.parentId}
      AND category.creator = #{category.creator}
      <if test="null != category and null != category.title">
        AND m.title LIKE CONCAT("%",#{category.title},"%")
     </if>
      <if test="null != category and null != category.introduction">
        AND m.introduction LIKE CONCAT("%",#{category.introduction},"%")
      </if>
    </where>
    ORDER BY last_modified_time ASC
  </select>

</mapper>